@import "./style/external";
@import "./style/variables";
@import "./style/mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin-inline: auto;
  font-family: $font-poppins;
  font-weight: 400;
  letter-spacing: 1.1px;
  overflow-x: hidden;
  padding-inline: 15px;
}

@import "./components/Header/Header.scss";
@import "./components/Banner/Banner.scss";
@import "./components/Footer/Footer.scss";
